<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Student Registration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script type="text/javascript">
        	window.onload = getDepartmentData();
    	</script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/mainpage">CGPA CALCULATOR</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/mainpage">Home</a></li>
					
					<li><a href="/subject_register">Subject Registration</a></li>
					<li><a href="/field_register">Department Registration</a></li>
					<li><a href="/add_results">Add Results</a></li>
					<li><a href="/new_admin">New Admin</a></li>
					<li><a href="/">Log Out</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Subject Registration</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							
							<div class="col-12 col-12-medium">

								<!-- Form -->
									<h3><b><font style="color:rgb(95, 10, 10)">Add New Subject</font></b></h3>
									<form method="get" action="/subject_register/add">
										<div class="row gtr-uniform">
											<div class="col-8 col-12-xsmall">
												<table style="border:3px solid black; border-collapse: collapse;">
													<tr>
														<td>Subject Code</td>
														<td colspan="2"><input type="text" name="subject_code" id="subject_code" value=""/></td>
													</tr>
													<tr>
														<td>Subject Name</td>
														<td colspan="2"><input type="text" name="subject_name" id="subject_name" value=""/></td>
													</tr>
													<tr>
														<td>Credits</td>
														<td colspan="2"><input type="number" name="credits" id="credits" value=""/></td>
													</tr>
													<tr>
														<td>Select Department</td>
														<td colspan="2">
															<select name="department" id="department">
																
																<!-- <option value="alpha">Computer Engineering</option>
																<option value="beta">Electrical and Electronic Engineering</option>
																<option value="gamma">Civil Engineering</option> -->
																
															</select>
														</td>
													</tr>
													<tr>
														<td>
															<input type="checkbox" id="is_core" name="is_core">
															<label for="is_core">Is Core</label>
														</td>
														<td>
															<input type="checkbox" id="is_technical" name="is_technical">
															<label for="is_technical">Is Technical</label>
														</td>
														<td>
															<input type="checkbox" id="is_general" name="is_general">
															<label for="is_general">Is General</label>
														</td>
													</tr>
												</table>
												
											</div>
											
											<!-- Break -->
											
											<!-- Break -->
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Submit Form" class="primary" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>

								
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				
			<div class="copyright">
				&copy; Software Engineering project 2018.
			</div>
			
		</footer>
			<script>
				function getDepartmentData() {
				    fetch('field_register/all').then(function (response) {
				        return response.json();
				    }).then(function (myJson) {
				        name = myJson.name;
				        id = myJson.id;
				        //coreCredit = myJson.coreCredit;
				    	
				    });
				    
				}
			</script>
			<script src="assets/js/jquery.min.js"></script>
			<script type="text/javascript">
				let dropdown = $('#department');
	
				dropdown.empty();
	
				dropdown.append('<option selected="true" disabled>Choose Department</option>');
				dropdown.prop('selectedIndex', 0);
	
				const url = 'http://localhost:8080/field_register/all';
	
				// Populate dropdown with list of provinces
				$.getJSON(url, function (data) {
				  $.each(data, function (key, entry) {
				    dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
				  })
				});
			</script>
		<!-- Scripts -->
															
			
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>